html {
    position: relative;
    min-height: 100%;
}

.btn {
    font-size: 20px;
    width: 150px;
    text-align: center;
    line-height: 3em;
    color: black;
}

.border {
    border-style: groove;
    border-width: medium;
}

body {
    background-color: #4484CE;
    margin-bottom: 30px;
    margin-top: 70px;
}

header {
    background-color: white;
    position: fixed;
    top:0;
    height:auto;
    width:100%;
    margin-bottom: 1px;
    z-index:9999;
    border-bottom: solid black;
    border-top: solid;
}


#content {
    background-color: #D9D9D9;
    height: auto;
    border-left-style: solid;
    border-right-style: solid;

}

#footer {

    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
    height: auto;
    background-color: white;
    margin-bottom: 1px;
    border-top: solid black;
    border-bottom: solid;

}

#footer-text {
    line-height: 3em;
    padding-top: 15px
}

* {
    font-family: 'Righteous', cursive;
}


h2:before {
    display: block;
    content: " ";
    margin-top: -80px;
    height: 80px;
    visibility: hidden;
}
